#FirstName:disabled,#LastName:disabled,#MiddleName:disabled,#contact:disabled{
    background-color:#ffc2c9;
}

.card-body > .input-group > .form-control{
    background-color: #dfffd6;
}

.input-group-prepend{
    width:20%;
    background-color: #e9ecef;
    text-align: center;
    justify-content:center;
    align-items: center;
}
.input-group-text{
    border: 0px
}